/* Feel free to change any of the styling below!*/
body {
    text-align: center;
    font-family: "Times new roman";
    background-color: #f8f2bf;
    color: blue;
    border: 20px inset blue;
}

img {
    width: 1000px;
}

.title {
    font-size: 50px;
    font-weight: 800;
    color: blue;
}

button {
  background-color: #e09e41;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.buttons {
    display: flex;
    justify-content: space-around;

}

p {
    font-size: 30px;
    font-weight: 800;
}


button {
    height: 40px;
}


h1 {
    font-size: 50px;
    color: blue;
}

/* When someone enters your game, you only want them to see the opening and the option buttons. The code below will use the display property to hide certain parts of the story. Remove the comments from the code below when you're ready for that step!*/


.story-opening{
   display:block;
}



.buttons{
   display:block;
     display: flex;
    justify-content: space-around;
}



.option-one-screen{
   display:none;
}



.option-two-screen{
   display:none;
}


.option-one-end{
   display:none;
}



.option-two-end{
   display:none;
}
